<div class="container">
  <div class="row">
    <div class="col s12 m8 offset-m2">

      {{#x-card
        buttonText='Logout'
        onsubmit=(route-action 'logout')
        title='Rooms'}}
        
        <ul class="collection">
          {{#each model.rooms as |room|}}
            <li class="collection-item avatar">
              <i class="material-icons green circle">Chat</i>

              <span class="title">{{room.name}}</span>
              <p class="grey-text">Owner: {{room.owner.email}}</p>
              <span class="secondary-content">

                {{!-- REMOVE ROOM BUTTON --}}
                <i class="material-icons red-text"
                  onclick={{route-action 'removeRoom' room}}>
                  remove_circle
                </i>

              </span>
            </li>
          {{else}}
            <li class="collection-item">
              No rooms yet ☹️
            </li>
          {{/each}}
        </ul>
      {{/x-card}}
      {{#x-card 
        title='Create a new room'
        onsubmit=(route-action 'createRoom')
        buttonText='Create'}}
        <div class="row">
          {{x-input value=model.newRoom.name label="Room Name" classNames='col s12' errors=model.newRoom.errors}}
        </div>
      {{/x-card}}
    </div>
  </div>
</div>